body{
  /* to remove the defult margin*/
  margin:0;
  /*to bring items in the center horizontal  */
  display:flex;
  /*to make them in the colum format */
  flex-direction: column;
  /*to make the items in the center  */
  align-items: center;
  /* befor create the wanted center we need to give the view hight of 100 */
  height: 100vh;
  /* this is related to the upper one to justify items in the center  */
  justify-content: center;
  background:url("photoC.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  font-family:  sans-serif;
}
h1{
  text-transform: capitalize;
  letter-spacing:7px;
  font-size: 26px;
  text-align: center;
}
/*** now we traget the main div to style all the items ***/
.clock{
  display: flex;
  
}
/*** now we traget the main div in respect to the sub divs to style the items ***/
.clock div{
  margin: 5px;
  position: relative;
}
/*** now we traget the spans to style the items ***/
.clock span{
  width:100px;
  height:80px;
  background: #9f766f;
  opacity : .8;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.3) ;
  
}
/*** now we traget the text of the spans  ***/
.clock .text{
  height:30px;
  font-size:10px;
  text-transform:uppercase;
  letter-spacing: 2px;
  background:#1b1f43 ;
  opacity: 0.8;

    
}
/*** now we traget the text of the spans  ***/
.clock #ampm {
  bottom: 0;
  position: absolute;
  height:30px;
  width: 60px;
  font-size: 20px;
  background: #ad7179;

}
