 body {
  margin:0;
   height:100vh;
   background-color:black;
   
}
span{ 
  background:url("https://cdn1.iconfinder.com/data/icons/Vista-Inspirate_1.0/64x64/apps/licq.png");
  /* in here we cant see the image yet cuz our span doesn’t have any width or height so we give */
  width:100px;
  height:100px;
  /* we give position it as absolute to see the image */
  position:absolute;
  /* we give it cover to make the image biger an fit to the height and withd */
  background-size:cover;
  /* to bring the image in the center first we set the edges of the image in center */
  left:50%;
  top:50%;
  /* to bring the image in the exact center we use */
  transform:translate(-50%,-50%);
  pointer-events:none;
  animation:animate 12s linear;
}
/* now we want to creat a animation to that so we need to use the*/
@keyframes animate {
  0%{
    transform:translate(-50%,-50%);
    opacity:1;
    filter:hue-rotate(0);
  }
  100%{
    transform:translate(-50%,-5000%);
    opacity:0;
    filter:hue-rotate(720deg);
  }
  
}